* {
    box-sizing: inherit;
}
*:before, *:after {
    box-sizing: inherit;
}

html, body {
    background-color: white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    font-size: 1rem;
}

main#main-content {
    width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
}

main#main-content:focus {
    outline: none!important;
    margin: 0;
}


/* Fonts */

h1, h2, h3 {
    font-family: 'Abril Fatface', Georgia, cursive;
}

h4, h5, p, body, link {
    font-family: 'Raleway', Arial, sans-serif;
}

h1 {
    font-size: 4.1em!important;
}

h2 {
    font-size: 2.2em!important;
}

h3 {
    font-size: 1.9em!important;
}

h4 {
    font-size: 1.7em!important;
    font-weight: 300;
}

h5 {
    font-size: 1.4em!important;
    font-weight: 600;
}


h1, h2, h3, h4, h5, p {
    margin: 0px;
    padding: 0 0 13px 0;
}

p {
    color: #3e3e3e;
    line-height: 125%;
    font-size: 18px;
}



/* Colours */
:root {
    --purple: #3b2e5aff;
    --dark-blue: #082C56;
    --blue: #4ea0aeff;
    --cream-grey: #ecebe4ff;
    --cream: #FAF9F2;
    --yellow: #ffc857ff;
    --green: #45503bff;
}

.col-grey {
    background-color: var(--cream-grey);
}

.col-purple {
    background-color: var(--purple);
}

.col-dark-blue {
    background-color: var(--dark-blue);
}

.col-cream {
    background-color: var(--cream);
}

.col-yellow {
    background-color: var(--yellow);
}

.col-green {
    background-color: var(--green);
}

/* Links */
a.link, a {
    color: var(--dark-blue);
    text-decoration: none!important;
}

a.discreet-link {
    color: black!important;
}

a.link::after, a::after {
    content: " >>";
}

a.nav-link::after, a.img-link::after, a.discreet-link::after {
    content: ''!important;
}

a.nav-link:hover, a.img-link:hover {
    border-bottom: none!important;
}

a.link:hover, .nav-link:hover, a:hover {
    color: var(--blue);
    border-bottom: .2rem solid var(--blue)!important;
}

.nav-link {
    color: black;
    text-decoration: none!important;
}

.link.link-component {
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
}

/* Structure */

.spaced-container, section.spaced-container {
    margin: 2% 10%;
}

.no-spaced-container, section.no-spaced-container {
    margin: 0% 10%;
}

section, .breath-top {
    padding-top: 30px;
}

.wrapper, #wrapper {
    margin: 0;
    width: 100%;
    height: auto;
}

.wrapper.spaced, #wrapper#spaced, .spaced {
    padding: 40px 10% 40px 10%;
}

.spaced-90 {
   padding: 90px 10%;
}

.heading-wrapper {
    margin-top: 40px;
    width: 100%;
    height: auto;
    text-align: left;
}

.heading-inline-wrapper {
    margin-top: 40px;
    width: 70%;
    height: auto;
    text-align: left;
}

.no-top-margin-ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

.col {
    display: inline-flex;
    width: 100%;
}

.col .col-20 {
    width: 20%;
}

.col .col-80 {
    width: 79%;
}

.col .col-35 {
    width: 35%;
}

.col .col-65 {
    width: 64%;
}

.breath-right {
    padding-right: 20px;
}

.breath-left {
    padding-left: 20px;
}

.breath-left-50 {
    padding-left: 50px;
}

.centre-me {
    width: 100%;
    height: 100%;
    margin: auto;
}

.centre-me-top {
    margin-top: auto;
    margin-bottom: auto;
}

.h-100 {
    height: 100%;
}

.lean-centre {
    text-align: center;
}

.lean-left {
    text-align: left;
    float: left;
}

.lean-right {
    text-align: right;
    float: right;
    justify-content: flex-end;
}

/* Columns */
.col-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.col-wrapper .col, .col-mid, .col-bot {
    width: 100%;
}

.collapse-height {
    height: auto;
    min-height: 0;
}

.col-top {
    display: block;
    min-height: 120px;
    height: auto;
}

.col-mid {
    min-height: 65px;
    height: auto;
}

.col-bot {
    min-height: 180px;
    height: auto;
}

#metrics .col-bot, #metrics .col-mid, #metrics .col-top, #one-col-text .col-bot, #one-col-text .col-mid, #one-col-text .col-top {
    height: auto;
    min-height: 0;
}

.col-ful-img {
    height: 300px;
}

img.full-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.full-img.comparison-img-cropped {
    max-height: 350px;
}

.col-item {
    display: inline-block;
    align-self: stretch;
    border-radius: 3px;
    margin-right: 2%;
    padding: 3% 2%;
    margin-bottom: 2%;
    height: auto;
}

#one-col-text .col-content {
    margin-right: 4%;
}

.col-content {
    padding: 2px;
}

.col-content-container {
    margin: 5px 0 auto 0;
}

.col-3quart {
    width: 75%;
}

.col-5 {
    width: 18%;
}

.col-4 {
    width: 23%;
}

.col-3 {
    width: 31%;
}

.col-2 {
    width: 48%;
}

.col-1 {
    width: 100%;
    margin-right: 0!important;
}

.comparison-arrow {
    align-self: center;
    left: 42%;
    height: 15px;
    right: auto;
    position: absolute;
}


/* Carousel */
/* gallery cell is for the full size case study */
.gallery-cell {
    width: 100%;
    height: 250px;
    margin-right: 14px;
    background: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    margin-bottom: 60px;
}

.gallery-cell.image-gallery {
    height: 300px!important;
}

/* quote-cell doesn't have an image */
.quote-cell {
    width: 100%;
    height: auto;
    margin-right: 14px;
    border-radius: 3px;
    margin-bottom: 60px;
    padding: 17px;
}

.case-feature-cell {
    width: 100%;
    height: 250px;
    margin-right: 14px;
    background: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    margin-bottom: 60px;
}

.case-feature-cell.featured {
    height: 350px;
}

.case-feature-cell.featured .case-caro-desc {
    top: 270px;
}

.case-caro-desc {
    background-color: var(--cream-grey);
    padding: 16px;
    border-radius: 3px;
    width: 60%;
    position: relative;
    top: 170px;
    left: 10px;
}


.carousel-cell.is-selected .case-caro-desc {
    display: block;
}

.carousel-cell .case-caro-desc {
    display: none;
}

.gallery-cell-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#case-study-caro.case-column-version {
    display: flex;
}

#case-study-caro.featured {
    margin-bottom: 11%;
}

.case-study-left {
    width: 39%;
}

.case-study-right {
    width: 60%;
}


/* CTA */
.cta-container {
    min-height: 200px;
    padding: 70px 10%;
}

.bg-color-cream-true {
    background-color: var(--cream);
}

.bg-color-false {
    background-color: white;
}

/* Images */
img.icon-circle {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 5;
}

img.logo-img {
    max-width: 130px;
    object-fit: contain;
}

img.header-circle-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
    z-index: 5;
}

/* Header */
#header {
    background-color: var(--cream);
    z-index: 0;
    position: relative;
}

.head-headline {
    z-index: 3;
}

.header-bot-bg {
    position: absolute;
    bottom: 0;
    z-index: -1;
    right: 5%;
    top: auto;
    left: auto;
    width: 45%;
    max-height: 65%;
    object-fit: contain;
}

header[role="banner"] {
    margin-bottom: 3em;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 0;
}

.wrapper {
    display: block;
}

/* Footer */

footer {
    background-color: var(--green);
    z-index: 0;
    position: relative;
    margin: 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
}

footer, footer p, footer h3 {
    color: white!important;
}

/* Navigation */
.navigation-container {
    width: 100%;
    height: 100%;
}

nav .nav_list .nav-link.nav-item {
    display: block;
    text-align: right;
    margin-right: 20px;
}

nav .nav_list .nav-link.nav-item:last-of-type {
    margin-right: 0px;
}


/* Animations */

*.wobble-hor-bottom:hover {
	-webkit-animation: wobble-hor-bottom 0.7s both;
            animation: wobble-hor-bottom 0.7s both;
}

@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-10px) rotate(-3deg);
              transform: translateX(-10px) rotate(-3deg);
    }
    30% {
      -webkit-transform: translateX(10px) rotate(3deg);
              transform: translateX(10px) rotate(3deg);
    }
    45% {
      -webkit-transform: translateX(-10px) rotate(-3.6deg);
              transform: translateX(-10px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-10px) rotate(-6deg);
              transform: translateX(-10px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(10px) rotate(6deg);
              transform: translateX(10px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-10px) rotate(-3.6deg);
              transform: translateX(-10px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }

*.con-animate:hover .confetti {
    width: 15px;
    height: 15px;
    background-color: #f2d74e;
    position: absolute;
    left: 50%;
    animation: confetti 5s ease-in-out -2s infinite;
    transform-origin: left top;
}
*.con-animate:hover .confetti.confetti:nth-child(1) {
    background-color: #f2d74e; left: -10%; top: -50%; animation-delay: 0;
}
*.con-animate:hover .confetti.confetti:nth-child(2) {
    background-color: #95c3de; left: 20%; top: -50%; animation-delay: -5s;
}
*.con-animate:hover .confetti.confetti:nth-child(3) {
    background-color: #ff9a91; left: 30%; top: -50%; animation-delay: -3s;
}
*.con-animate:hover .confetti.confetti:nth-child(4) {
    background-color: #f2d74e; left: 40%; animation-delay: -2.5s;
}
*.con-animate:hover .confetti.confetti:nth-child(5) {
    background-color: #95c3de; left: 50%; animation-delay: -4s;
}
*.con-animate:hover .confetti.confetti:nth-child(6) {
    background-color: #ff9a91; left: 60%; animation-delay: -6s;
}
*.con-animate:hover .confetti.confetti:nth-child(7) {
    background-color: #f2d74e; left: 70%; animation-delay: -1.5s;
}
*.con-animate:hover .confetti.confetti:nth-child(8) {
    background-color: #95c3de; left: 80%; animation-delay: -2s;
}
*.con-animate:hover .confetti.confetti:nth-child(9) {
    background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
}
*.con-animate:hover .confetti.confetti:nth-child(10) {
    background-color: #f2d74e; left: 100%; animation-delay: -2.5s;
}

@keyframes confetti {
    0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
    25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
    50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
    75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
    100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
}


/* Responsiveness */

/* Responsiveness Super Large screens */
@media only screen and (min-width: 1990px) {
    body {
        font-size: 1.2rem!important;
    }
}

/* Responsiveness Smaller screens */
@media only screen and (max-width: 1280px) {
    .homepage-landing-r-img img.header-circle-img {
        width: 200px;
        height: 200px;
    }

    .col-2 .col-bot {
        min-height: 218px!important;
    }

    .col-5, .col-4 {
        width: 48%;
    }

    .case-caro-desc {
        width: 80%;
    }
    

}

/* Responsiveness Tablets */
@media only screen and (max-width: 991px) {
    .col-wrapper, .col.tabl-flex {
        flex-wrap: wrap;
    }

    .col-singular {
        display: flex;
        width: 100%;
    }

    .col-singular .col-mid {
        margin-left: 2%;
    }

    .col-65, .col-20, .col-80, .col-35, .col-3quart {
        width: 100%!important;
    }

    .col-65 .col-bot, .col-65 .col-mid, .col-65 .col-top, .col-20 .col-bot, .col-20 .col-mid, .col-20 .col-top, .col-80 .col-bot, .col-80 .col-mid, .col-80 .col-top, .col-35 .col-bot, .col-35 .col-mid, .col-35 .col-top, .col-3quart .col-bot, .col-3quart .col-mid, .col-3quart .col-top {
        min-height: 0!important;
        height: auto!important;
    }

    .flickity-page-dots {
        bottom: 0!important;
    }

    .head-container.col, ul.nav_list.col {
        display: block!important;
        margin-top: 0!important;
    }

    nav .nav_list .nav-link.nav-item {
        margin-right: 0px!important;
    }

    .header-bot-bg {
        right: 0%;
    }

    .case-caro-desc {
        width: 90%;
    }
}


/* Responsiveness Lanscape Phone */
@media only screen and (max-width: 767px) {

    .case-study-left, .case-study-right, .head-headline, .col-3, .col-5, .col-4, col-2 {
        width: 100%!important;
    }

    .col-bot, .col-mid, .col-top {
        min-height: 0!important;
        height: auto!important;
    }

    .col-item {
        margin-right: 0!important;
    }

    .case-caro-desc {
        width: 100%!important;
    }

    #case-study-caro.case-column-version {
        flex-wrap: wrap!important;
    }

    .col-singular {
        display: block;
    }

    .case-caro-desc {
        top: 0!important;
        left: 0!important;
    }
}

/* Responsiveness Phone */
@media only screen and (max-width: 478px) {
    h1 {
        font-size: 3em!important;
    }

}


