<section id="1-col-text">
    <div class="col-wrapper">
        <div class="col-3quart">
            <div class="col-content centre-me-top">
                <h5>Explore customer needs - and discover customer insights.</h5>
                <p>Been a while since you last sent out a user survey? Or interviewed a customer? Just want to do a sanity check on a feature? Or sense-check customer behaviours?</p>
                <p>Through survey design, user interviews, workshops and/or reviewing existing artefacts - I can help you discover user needs, challenges and pain points and translate them to actionable insights</p>
            </div>
        </div>
        <div class="col-item col-4 col-grey col-singular">
            <div class="col-top">
                <div class="col-content centre-me-top">
                    <img src="/images/me.jpg" class="icon-circle" />
                </div>
            </div>
            <div class="col-mid">
                <div class="col-content">
                    <h5>Customer Research & Insights</h5>
                </div>
            </div>
            <div class="col-bot">
                <div class="col-content">
                    <p>I can help you identify user needs and challenges - and translate them to actionable insights.</p>
                    {% include "partials/components/link.njk" %}
                </div>
            </div>
        </div>
    </div>
</section>