<section id="wrapper">
<section id="metrics" class="spaced-container">
    <div class="col-wrapper">
        {% for column in pageSection.4colLoop %}
            <div class="col-item col-3">
                <div class="col-top">
                    <div class="col-content centre-me-top">
                        <h5>{{ column.4colTitle }}</h5>
                    </div>
                </div>
                <div class="col-bot">
                    <div class="col-content">
                        <p>{{ column.4colDesc | safe }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
</section>
