{% if selectedCaseList == 'Case' %}
    {% set featuredCases = collections.posts %}
{% elif selectedCaseList == 'Media' %}
    {% set featuredCases = collections.media %}
{% else %}
    {% set featuredCases = collections.posts %}
{% endif %}


<section id="case-study-caro" class="spaced-container">
    {% set colLength = pageSection.caseStudyGalleryTitle | length %}
    {% if colLength > 1 %}
    <div class="case-study-top">
        <div class="heading-inline-wrapper">
            <h3>{{ pageSection.caseStudyGalleryTitle }}</h3>
        </div>
    </div>
    {% endif %}
    {% if featuredCases.length %}
    <div class="case-study-bot">
        <div class="main-carousel case-caro-content longer-caro" data-flickity='{ "wrapAround": true, "cellAlign": "left", "contain": true }'>
            {% for item in featuredCases %}
                {% if pageSection.caseFilter | length !== 0 %}
                    {% if item.data.featureToggle == true and item.data.caseFeatureFilter == pageSection.caseFilter %}
                    <div class="gallery-cell carousel-cell" style="background-image: url(/{{ item.data.featuredImage }})">
                        <div class="case-caro-desc">
                            {% set linkURL = item.url %}
                            <a href="{{linkURL}}" class="discreet-link"><h5>{{ item.data.title }}</h5></a>
                            <p>{{ item.data.whatStatement }}</p>
                            {% set linkText = 'Finish the story' %}
                            {% include "partials/components/link.njk" %}
                        </div>
                    </div>
                    {% endif %}
                {% else %}
                    {% if item.data.featureToggle == true %}
                    <div class="gallery-cell carousel-cell" style="background-image: url(/{{ item.data.featuredImage }})">
                        <div class="case-caro-desc">
                        {% set linkURL = item.url %}
                            <a href="{{linkURL}}" class="discreet-link"><h5>{{ item.data.title }}</h5></a>
                            <p>{{ item.data.whatStatement }}</p>
                            {% set linkURL = item.url %}
                            {% set linkText = 'Finish the story' %}
                            {% include "partials/components/link.njk" %}
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

</section>