{% set caroTitle = 'Full-stack digital experience design' %}
{% set caroDesc = "Full-stack digital experience design to streamline the marketing for managers across 40 countries/regions." %}
{% set caroImg = '/images/example-mock.png' %}
<section id="case-study-caro" class="featured">
    <div class="case-study-bot">
        <div class="case-caro-content">
                <div class="case-feature-cell featured" style="background-image: url({{ caroImg }})">
                    <div class="case-caro-desc featured">
                        <h5>{{ caroTitle }}</h5>
                        <p>{{ caroDesc }}</p>
                        {% include "partials/components/link.njk" %}
                        </div>
                </div>


        </div>
    </div>


</section>