<section id="case-study-caro" class="spaced-container">
    {% set colLength = pageSection.caseStudyGalleryTitle | length %}
    {% if colLength > 1 %}
    <div class="case-study-top">
        <div class="heading-inline-wrapper">
            <h3>{{ pageSection.caseStudyGalleryTitle }}</h3>
        </div>
    </div>
    {% endif %}
    <div class="case-study-bot">
        <div class="main-carousel case-caro-content" data-flickity='{ "wrapAround": true, "cellAlign": "left", "contain": true }'>
            {% for column in pageSection.FeaturedCases %}
                <div class="gallery-cell carousel-cell" style="background-image: url(/{{ caroImg }})">
                    <div class="case-caro-desc">
                        {{ column }}
                        <h5>{{ column.caseTitle }}</h5>
                        <p>{{ column | url }}</p>
                        {% set linkURL = column %}
                        {% set linkText = 'Finish the story' %}
                        {% include "partials/components/link.njk" %}
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>


</section>