<section id="cols">
    <div class="col-wrapper">
            <div class="col-item col-2">
                <div class="col-full-img">
                        <img src="/images/me.jpg" class="full-img"/>
                </div>
            </div>
            <img src="/images/long-arrow-right.svg" class="comparison-arrow"/>
            <div class="col-item col-2">
                <div class="col-full-img">
                        <img src="/images/me.jpg" class="full-img"/>
                </div>
            </div>
    </div>
</section>