{% set deliverableStory = collections.deliverable %}
{% if deliverableStory.length %}
<section id="wrapper spaced">
<section id="case-study-caro" class="case-column-version spaced-90 col-cream">
    <div class="case-study-left">
        <div class="heading-inline-wrapper">
            <h3>{{ pageSection.deliverableGalleryTitle }}</h3>
            <p>{{ pageSection.deliverableDescription }}</p>
        </div>
    </div>
    <div class="case-study-right">
        <div class="main-carousel case-caro-content shorter-caro" data-flickity='{ "wrapAround": true, "cellAlign": "left", "contain": true }'>
            {% for story in deliverableStory %}
                <div class="quote-cell carousel-cell col-yellow">
                    <div class="quote-cell-top">
                        <h5>{{ story.data.deliverableOutcome }}</h5>
                    </div>
                    <div class="quote-cell-bot">
                        <p>by delivering...</p>
                        <p>{{ story.data.deliverableOutputs | safe }}</p> 
                        </br>
                        <ul>
                            <li><p>{{ story.data.deliverableSkills }}</p></li>
                        </ul>
                        <p>{{ story.data.deliverableFun | safe }}</p> 
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
</section>
</section>
{% endif %}