{% if postListItems.length %}
  <section id="featured-case-studies">
    <div class="featured-case-studies-wrapper">
      <div class="featured-cases-st-head-wrapper margin-auto-lr width-50">
        <h2>{{ componentTitle | safe }}</h2>
      </div>
      <ol class="feature-list pad-5p">
        {% for item in postListItems %}
          {% if item.data.toggle == true %}
            <div class="feature-list-btn display-inline-flex inline-flex-row" style="background-color:{{ skills.skillColor }}">
              <div class="feature-list-btn-left inline-block width-60 align-me-center">
                <a href="{{  item.url }}" class="feature-list-box feature-header">
                  <img src="/{{ skills.skillIcon }}" class="skill-icon feature-header"/>
                </a>
                <h3 class="font-600w set-height-65px">{{ item.data.maintag }}</h3>
                <p>{{ item.data.title }}</p>
                <a href="{{  item.url }}" class="feature-list-box">
                    <p>READ MORE {% include "icons/arrow.svg" %}</p>
                </a>
              </div>
              <div class="feature-list-btn-right inline-block width-40">
                  <img src="/{{ skills.skillImg }}" class="button-bg lean-right"/>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
  </section>
{% endif %}
