<section id="full-bleed" style="background-image: url(/{%if pageSection.fullImage | length == 0 %}{% else %}{{ pageSection.fullImage }}{{ fullImage }}{% endif %})">
    <div class="cta-container bg-color-cream-false">
    </div>
</section>