<h3>From this...</h3>
{% for image in beforeImages %}
    <img src="/{{ image }}"></img>
{% endfor %}
<h3>To this...</h3>
{% for image in afterImages %}
    <img src="/{{ image }}"></img>
{% endfor %}