{% if navigation.items %}
  <nav class="nav centre-me">
    <div id="mobile-nav-button" class="centre-me">
              {# <input type="checkbox" />
                <span class="btn"></span>
                <span class="btn"></span>
                <span class="btn"></span> #}
    <ul class="nav_list col lean-right h-100">
          <a href="/" class="nav-link nav-item centre-me-top"{{ 'aria-current=page' | safe }}>
      </a>
      {% for item in navigation.items %}
        {% set relAttribute = '' %}
        {% set currentAttribute = '' %}

        {% if item.rel %}
          {% set relAttribute = ' rel="' + item.rel + '"' %}
        {% endif %}

        {% if page.url == item.url %}
          {% set currentAttribute = ' aria-current="page"' %}
        {% endif %}

          <a href="{{ item.url }}" class="nav-link nav-item"{{ relAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text }}</a>
      {% endfor %}
    </ul>
    </div>
  </nav>
{% endif %}
