<section class="spaced-container">
    {% if pageSection.plainTextTitle | length !== 0 %}
        <h3>{{ pageSection.plainTextTitle | safe }}</h3>
    {% endif %}
    {{ pageSection.bodyContent | safe }}
</section>