{% if postListItems.length %}
  <section class="post-list">
    <div class="inner-wrapper">
      <ol class="post-list__items">
        {% for item in postListItems %}
          {% if item.date.getTime() <= global.now %}
            <div class="post-list__item wrapper">
              <div class="post-list__item left-2 wrapped-item">
                <img class"post-image" src="{{ item.data.featureimage }}"/>
                image
              </div>
              <div class="post-list__item right-1 wrapped-item">
                <h3 class="font-base leading-tight text-600 weight-mid">
                  <a href="{{ item.url }}" class="link post" rel="bookmark">{{ item.data.title }}</a>
                </h3>
                <p class="text-500 gap-top-300 weight-mid">
                  <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
                </p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </ol>
    </div>
  </section>
{% endif %}
