<section id="wrapper spaced">
<section id="case-study-caro" class="case-column-version spaced-90 col-cream">
    <div class="case-study-left">
        <div class="heading-inline-wrapper">
            <h3>{{ pageSection.testimonialGalleryTitle }}</h3>
            <p>{{ pageSection.testimonialDescription }}</p>
        </div>
    </div>
    <div class="case-study-right">
        <div class="main-carousel case-caro-content" data-flickity='{ "wrapAround": true, "cellAlign": "left", "contain": true }'>
            {% for story in testimonials.items %}
                <div class="quote-cell carousel-cell col-yellow">
                    <div class="quote-cell-top">
                        <p>{{ story.quote | safe }}</p> 
                    </div>
                    <div class="quote-cell-bot">
                        <h5>{{ story.name }}</h5>
                        <p>{{ story.position }} - {{ story.company }}</p>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
</section>
</section>