<section id="wrapper spaced" class="coloured-bg">
{% if pageSection.bgcolor == true or bgcolor == true %}
    <div class="cta-container bg-color-cream-true">
{% else %}
<div class="cta-container bg-color-cream-false">
{% endif %}
    {% if pageSection.ctaHeadingTitle | length !== 0 %}
        <h3>{{ pageSection.ctaHeadingTitle }}</h3>
        <p>{{ pageSection.ctaText | safe }}</p>
    {% elif ctaHeadingTitle | length !== 0 %}
        <h3>{{ ctaHeadingTitle }}</h3>
        <p>{{ ctaText | safe }}</p>
    {% endif %}
</div>
</section>