<header role="banner">
  <section id="header">
    <div class="wrapper spaced">
      <div class="col">
        <div class="col-20">
          <div class="display-flex h-100 centre-me-top">
            <a href="/" class="img-link" ><img class="logo-img centre-me-top" src="/images/logo.svg"/></a>
          </div>
        </div>
        <div class="col-80 nav centre-me">
          <div class="navigation-container centre-me">
            {% include "partials/components/nav.njk" %}
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper spaced">
      <div class="head-container col">
        <div class="head-headline col-65 centre-me-top breath-right">
          <h1>{{ headerTitle }}</h1>
          <h4>{{ headerDescription | safe }}</h4>
        </div>
        {% if featureImage | length !== 0 %}
        <div class="head-headline col-35 centre-me-top breath-left-50">
          <div class="homepage-landing-r-img centre-me-top wobble-hor-bottom con-animate">
              <img src="{% if column.colImg | length == 0 %}{% elif column.colImg | first !== '/' %}/{% endif %}{{ featureImage }}" class="header-circle-img" />
                  <div class="confetti"></div>
                  <div class="confetti"></div>
                  <div class="confetti"></div>
                  <div class="confetti"></div>
                  <div class="confetti"></div>
                  <div class="confetti"></div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
            <img src="/images/half-moon-yellow.svg" class="header-bot-bg" />

  </section>
</header>
