<footer>
    <section id="footer" class="spaced-90">
        <div class="col">
            <div class="col-20 centre-me">
                <div class="display-flex h-100 centre-me-top">
                {% set logoImgBoolean = false %}
                <a href="/" {% if logoImgBoolean %}class="img-link" ><img class="logo-img centre-me-top" src="/images/logo.svg"/>{% else %}class="no-after"><p>{{ site.name }}</p>{% endif %}</a>
                </div>
            </div>
            <div class="col-80 nav centre-me">
                <div class="navigation-container centre-me">
                    <p>Made with love in Melbourne (◍•ᴗ•◍)❤</p>
                </div>
            </div>
        </div>
    </section>
</footer>




