{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <div class="home-container">
        <div class="intro-top-container">
            <div class="intro-top-wrapper">
                <div class="intro-top-left wobble-hor-bottom con-animate">
                    <img src="/images/me.jpg" class"intro-image" />
                        <div class="confetti"></div>
                        <div class="confetti"></div>
                        <div class="confetti"></div>
                        <div class="confetti"></div>
                        <div class="confetti"></div>
                        <div class="confetti"></div>
                </div>
                <div class="intro-top-right">
                    <h1 class="post-sub-title text-500 gap-top-300">Oops! This website is going through some updates.</h1>
                    <h2 class="intro-title">
                        <div class="link post-title" rel="bookmark">Please come back later :-)</a>
                    </h2>
                </div>
            </div>

        </div>
    </div>
  </main>
{% endblock %}
