{% extends 'layouts/base.njk' %}
{% set pageType = 'Page' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      <div class="special-page top">
        <div class="post-list__item wrapper">
            <div class="post-list__item left-2 wrapped-item">
            <img src="/images/me.jpg" class="post-image" />
            </div>
            <div class="post-list__item right-1 wrapped-item">
            <p class="post-sub-title text-500 gap-top-300">{{ aboutme.job }}</p>
            <h3 class="h3-post-title">
                <a href="{{ item.url }}" class="link post-title" rel="bookmark">{{ aboutme.name }}</a>
            </h3>
            <p class="post-caption">{{ aboutme.blurb | safe }}</p> 
            {% for item in aboutme.aboutme %}
                <p class="post-sub-text">{{ item.title | safe }}</p>
                <p class="post-sub-text">{{ item.textcontent | safe }}</p>
            {% endfor %} 
            <br/> 
            <a href="{{ aboutme.ctalink }}" class="link text-button" rel="bookmark">{{ aboutme.cta }} {% include "icons/arrow.svg" %}</a>
            </div>
        </div>
    </div>
    <div class="special-page bottom">
            {% include "partials/components/skills-section.njk" %}
            <div class="ff">
              <h3 class="h3-post-title">Fun FAQs</h3>
              <ul>
              {% for item in aboutme.funfaq %}
                  <li>{{ item.textcontent | safe }}</li>
              {% endfor %} 
              </ul>
            </div>
      </div>
    </article>
  </main>
{% endblock %}

