{% extends 'layouts/base.njk' %}
{% set pageType = 'Post' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
<p class="[ intro__meta ] [ text-500 leading-tight ]">
  {% if date %}
    <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
  {% endif %}
  <span>— {{ helpers.getReadingTime(content) }} minute read</span>
</p>
{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      <div class"special-page top">
          <div class="post-list__item left-2 wrapped-item">
            <img src="/{{ featureimage }}" class"post-image" />
          </div>
          <div class="post-list__item right-1 wrapped-item">
              {% for section in allcontent %}
                <h3 class="h3-post-title">
                    {{ section.title | safe }}
                </h3>
                <p class="post-caption">{{ section.subtitle }}</p> 
                <p class="post-sub-text">{{ section.textcontent | safe }}</p>
                <br/> 
              {% endfor %}
          </div>
      </div>
      <div class="special-page bottom">
        {{ content | safe }}
      </div>

      {% if tags %}
        <footer class="[ post__footer ] [ pad-top-500 pad-bottom-500 ]">
          <div class="inner-wrapper">
            <div class="[ nav ] [ box-flex align-center ]">
              <h4 class="font-base text-600 weight-mid">Filed under</h4>
              <ul class="tags-list">
                {% for item in tags %}
                  <li class="nav__item">
                    <a href="/tags/{{ item }}" class="link">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </footer>
      {% endif %}
    </article>
  </main>
{% endblock %}

{{ content | safe }}
