{% extends 'layouts/base.njk' %}
{% set pageType = 'Post' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
<p class="[ intro__meta ] [ text-500 leading-tight ]">
  {% if date %}
    <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
  {% endif %}
  <span>— {{ helpers.getReadingTime(content) }} minute read</span>
</p>
{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      {% include "partials/components/intro.njk" %}
      <div class="inner-wrapper">
          {% for section in allcontent %}
              <p class="post-sub-text">
                      <h3>{{ section.title | safe }}</h3>
                      <h4>{{ section.subtitle }}</h4>
                      {{ section.textcontent | safe }}
              </p>
          {% endfor %}
      </div>
      {% if tags %}
        <footer class="[ post__footer ] [ pad-top-500 pad-bottom-500 ]">
          <div class="inner-wrapper">
            <div class="[ nav ] [ box-flex align-center ]">
              <h4 class="font-base text-600 weight-mid">Filed under</h4>
              <ul class="tags-list">
                {% for item in tags %}
                  <li class="nav__item">
                    <a href="/tags/{{ item }}" class="link">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </footer>
      {% endif %}
    </article>
  </main>
{% endblock %}

{{ content | safe }}
