        <div class="intro-top-container">
            <div class="intro-top-wrapper">
                <div class="intro-top-left wobble-hor-bottom con-animate">
                    <img src="/images/me.jpg" class="intro-image" />
                        <div class="confetti"></div>
                        <div class="confetti"></div>
                        <div class="confetti"></div>
                        <div class="confetti"></div>
                        <div class="confetti"></div>
                        <div class="confetti"></div>
                </div>
                <div class="intro-top-right">
                    <h1 class="post-sub-title text-500 gap-top-300">{{ aboutme.job }}</h1>
                    <h3 class="intro-title">
                        <div class="link post-title" rel="bookmark">{{ aboutme.name }}</a>
                    </h3>
                    <h4 class="intro-caption">{{ aboutme.blurb | safe }}</h4> 
                    
                    
                        <div class="intro-icon">
                        <p>See my featured work below</p>
                        <br>
                            <a href="#featured-case-studies"> {% include "icons/arrow-down.svg" %}</a>
                        </div>
                </div>
            </div>

        </div>
      